.wrapper{
    display: table;
    margin: 0 auto;
    background: #fff;
    padding: 35px 40px 40px;
    border-radius: 6px;
    box-shadow: 0 0 1px 0 rgba(255, 255, 0, 32), 0 1px 9px -1px #15222e;
}

.gauge{
    font-family: Arial, Helvetica, sans-serif;
    background: #e7e7e7;
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.09),  0 0 35px 5px rgba(255, 255, 255, 0.29);
    width: 200px;
    height: 100px;
    border-radius: 100px;
    border-radius: 100px 100px 0 0;
    position: relative;
    overflow: hidden;
    -webkit-transform-style: flat;
    -webkit-transform: translateZ(0px);
}

.gauge.min-scaled{
    transform: scale(0.5);
}

.needle{
    width: 48%;
    height: 7px;
    background: #15222e;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 5px;
    position: absolute;
    bottom: 4px;
    margin-left: 3px;
    transform-origin: 100% 4px;
    /* transform: rotate(45deg); */
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
    z-index: 10;
    /* animation: none; */
}

.gauge-center{
    content: "";
    color: #fff;
    width: 60%;
    height: 60%;
    background: #fff;
    border-radius: 100px 100px 0 0;
    position: absolute;
    box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
    right: 21%;
    bottom: 0;
    color: #fff;
}

.gauge-center::before{
    content: "0";
    font-size: 1.5em;
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
    float: left;
    -webkit-font-smoothing: antialiased;
}

.gauge-center::after{
    content: "units";
    width: 100%;
    float: left;
    opacity: 0.6;
    text-align: center;
}

.slice-colors .st{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 0;
    border-bottom: 80px solid #000;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.slice-colors .st.slice-item:nth-child(1){
    border-bottom-color: #e84c3d;
    left: -1px;
    top: 20px;
}

.slice-colors .st.slice-item:nth-child(2){
    border-bottom-color: #e67e22;
    transform: rotate(140deg);
    transform-origin: right;
    top: 0px;
    left: -35px;
}

.slice-colors .st.slice-item:nth-child(3){
    border-bottom-color: #f1c40f;
    transform: rotate(178deg);
    transform-origin: right;
    top: -10px;
    left: -30px;
    border-bottom-width: 90px;
    border-left-width: 45px;
    border-right-width: 45px;
    width: 18px;
}

.slice-colors .st.slice-item:nth-child(4){
    border-bottom-color: #9baa1e;
    transform: rotate(223deg);
    transform-origin: right;
    top: -10px;
    left: 55px;
}

.slice-colors .st.slice-item:nth-child(5){
    border-bottom-color: #1eaa59;
    transform: rotate(247deg);
    transform-origin: right;
    right: 50px;
    top: 17px;
}

@keyframes speed{
    0%{
        transform: rotate(0);
    }
    40%{
        transform: rotate(180deg);
    }
    55%{
        transform: rotate(170deg);
    }
    75%{
        transform: rotate(180deg);
    }
}

@keyframes simplePulse{
    from{
        opacity: 0.4;
    }
    to{
        opacity: 0.98;
    }
}
